<% title "All Tasks" %>

<h1 class="page-title"><%= yield(:title) %></h1>
<% if @tasks.nil? || @tasks.count < 1 %>	
	<p>You haven't made a note of any tasks yet.</p>
<% else %>
	<%= render 'shared/task_list', :tasks => @tasks %>
<% end %>