<% title "Done" %>

<h1 class="page-title"><%= yield(:title) %></h1>
<% if @tasks.nil? || @tasks.count < 1 %>	
	<p>You have yet to complete a task.</p>
<% else %>
	<%= render 'shared/task_list', :tasks => @tasks %>
<% end %>
